<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> -->
    <%- include('../layout/head.ejs') %> 

</head>
<body>
    <header>
        <%- include('../layout/header.ejs') %> 
    </header>
    <main>
        <form action="/show" method="GET" class="dateform">
            <label for="date" class="datelabel">Enter the Date</label>
            <input type="date" name="date" id="date" value="">
            <button class="enter">Enter</button>
        </form>
    </main>
    
</body>
</html>