<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('../layout/header.ejs') %> 
    </header>
    <main>
        <h1>hi</h1>
        <form action="/show" method="GET">
            <label for="date">Enter the Date</label>
            <input type="date" name="date" id="date" value="">
            <button>Enter</button>
        </form>
    </main>
    
</body>
</html>