<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/header_abdallah.css">
    <link rel="stylesheet" href="/esraa/login.css">
    <link rel="stylesheet" href="/esraa/sign.css">
    <link rel="stylesheet" href="/sondos.css">

</head>

<body>
   

    <%- include('./layout/header_abdallah.ejs') %> 
    <%- include('./layout/signup.ejs')%>
    <%- include('./layout/login.ejs')%>



<div class="box-min">



    <div class="about-box">
        <div class="abou-image">
        <img src="./images/esraa.2.jpg">
        </div>
        <div class="text-about">
            <h2>Yousef Al-Shun<br>
            <span> i don't work i am princess</span></h2>
        </div>
        </div>
        <!-- ///////////////////////////////////////// -->

        <div class="about-box">
            <div class="abou-image">
            <img src="./images/esraa.2.jpg">
            </div>
            <div class="text-about">
                <h2>Sondos Abu-Elayyan<br>
                <span> i don't work i am princess</span></h2>
            </div>
            </div>
            
<!-- ////////////////////////////////////////// -->
<div class="about-box">
    <div class="abou-image">
    <img src="./images/esraa.2.jpg">
    </div>
    <div class="text-about">
        <h2>Esra'a Ananzeh <br>
        <span> i don't work i am princess</span></h2>
    </div>
    </div>
    <!-- /////////////////////////////////////////// -->
    <div class="about-box">
        <div class="abou-image">
        <img src="./images/esraa.2.jpg">
        </div>
        <div class="text-about">
            <h2>Abdallah Shnanah<br>
            <span> i don't work i am princess</span></h2>
        </div>
        </div>



    </div>
</body>

</html>