<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/sondos.css">
</head>

<body>
    <%-  include('./layout/header.ejs') %>
    <h1>About Us</h1>
    <img src="/image/man2-01.png" id="man" alt="space man">
    <div class="mainCont">
    <div class="subCont">
        <img src="/image/person-i.png" alt="person icon">
        <h2>Abdallah Shnanah</h2>
        <p>About Abdallah</p>
    </div>
    <div class="subCont">
        <h2>Esra'a Ananzeh</h2>
        <p>About Esra'a</p>
        <img src="/image/person-i.png" alt="person icon">
    </div>
    <div class="subCont">
        <img src="/image/person-i.png" alt="person icon">
        <h2>Sondos Abu-Elayyan</h2>
        <p>About sondos</p>
    </div>
    <div class="subCont">
        <h2>Yousef Al-Shun</h2>
        <p>About Yousef</p>
        <img src="/image/person-i.png" alt="person icon">
    </div>
</div>
</body>

</html>