<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/sondos.css">
    <link rel="stylesheet" href="/header_abdallah.css">
    <link rel="stylesheet" href="/esraa/login.css">
    <link rel="stylesheet" href="/esraa/sign.css">

</head>

<body>
    
    <%- include('./layout/header_abdallah.ejs') %> 
    <%- include('./layout/signup.ejs')%>
    <%- include('./layout/login.ejs')%>

    <h1>About Us</h1>
    <!-- <img src="/image/man2-01.png" id="man" alt="space man"> -->
    <div class="mainCont">
        <div class="subCont">
            <div class="subCont2">
                <div class="imgCont">
                    <img src="/image/person-i.png" alt="person icon">
                </div>
                <div class="namecont">
                    <div class="l l1"></div>
                    <div class="l l2"></div>
                    <div>
                        <h2>Abdallah Shnanah</h2>
                        <p>About Abdallah</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="subCont">
            <div class="subCont2">
                <div class="imgCont">
                    <img src="/image/person-i.png" alt="person icon">
                </div>
                <div class="namecont">
                    <div class="l l1"></div>
                    <div class="l l2"></div>
                    <div>
                        <h2>Sondos Abu-Elayyan </h2>
                        <p>About Sondos</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="subCont">
            <div class="subCont2">
                <div class="imgCont">
                    <img src="/image/person-i.png" alt="person icon">
                </div>
                <div class="namecont">
                    <div class="l l1"></div>
                    <div class="l l2"></div>
                    <div>
                        <h2>Esra'a Ananzeh</h2>
                        <p>About Esra'a</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="subCont">
            <div class="subCont2">
                <div class="imgCont">
                    <img src="/image/person-i.png" alt="person icon">
                </div>
                <div class="namecont">
                    <div class="l l1"></div>
                    <div class="l l2"></div>
                    <div>
                        <h2>Yousef AlShun</h2>
                        <p>About Yousef</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>

</html>