<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="shortcut icon" href="./image/tab-01.png" />
    <link rel="stylesheet" href="/header_abdallah.css">
    <link rel="stylesheet" href="/esraa/login.css">
    <link rel="stylesheet" href="/esraa/sign.css">
    <link rel="stylesheet" href="/sondos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
   

    <%- include('./layout/header_abdallah.ejs') %> 
    <%- include('./layout/signup.ejs')%>
    <%- include('./layout/login.ejs')%>


    <h1 id="team">SAGITTARIUS TEAM</h1>
<!-- moon and earth -->

    <div class="stars small"></div>
<div class="stars medium"></div>
<div class="stars large"></div>

<div class="wrapper">
  <div class="earth">
    <i class="fas fa-globe-americas"></i>
    <div class="face">
      <div></div>
    </div>
  </div>
  <div class="moon">
    <div class="face">
      <div></div>
    </div>
  </div>
</div>
<!-- moon and earth -->


<div class="box-min">


    <div class="about-box">
        <div class="abou-image">
        <img src="./images/yousef.jpg">
        </div>
        <div class="text-about">
            <h2>Yousef Al-Shun<br>
            <span> i love potato</span></h2>
        </div>
        </div>
        <!-- ///////////////////////////////////////// -->

        <div class="about-box">
            <div class="abou-image">
            <img src="./images/sond.jpg">
            </div>
            <div class="text-about">
                <h2>Sondos Abu-Elayyan<br>
                <span>Full-stack engineer </span></h2>
            </div>
            </div>
            
<!-- ////////////////////////////////////////// -->
<div class="about-box">
    <div class="abou-image">
    <img src="./images/esraa.2.jpg">
    </div>
    <div class="text-about">
        <h2>Esra'a Ananzeh <br>
        <span> I am computer engineer</span></h2>
    </div>
    </div>
    <!-- /////////////////////////////////////////// -->
    <div class="about-box">
        <div class="abou-image">
        <img src="./images/abdallah.jpg">
        </div>
        <div class="text-about">
            <h2>Abdallah Shnanah<br>
            <span>web developer</span></h2>
        </div>
        </div>



    </div>
    <footer>
        <div class="footer">
          <div id="button"></div>
        <div id="container">
        <div id="cont">
        <div class="footer_center">
          <section class="footer-distributed">
  
              <div class="footer-right">
  
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                  <a href="#"><i class="fa fa-github"></i></a>
  
              </div>
  
              <div class="footer-left">
  
                  <p class="footer-links">
                      <a class="link-1" href="/">Home</a>
  
                      <a href="/mission">Past mission</a>
  
                      <a href="/f_mission">future mission</a>
  
                      <a href="/all_book">Trips info</a>
  
  
                      <a href="/about">About Us</a>
                  </p>
  
                  <p> SAGITTARIUS &copy; </p>
              </div>
  
          </section>
        </div>
        </div>
        </div>
        </div>
  
      </footer>





</body>

</html>