<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/reset.css">
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    

    <h1>Hello world</h1>
<!-- //////////////////////////////////////////////////// -->
<header>
    <h1>Best Books!</h1>
  
    <div class="box">
      <a class="button" href="#popup1">
        <div id="svghum">
    
          <!-- <button class="nav"> -->
            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="alien-monster" role="img"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
              class="svg-inline--fa fa-alien-monster fa-w-18 fa-9x">
              <g class="fa-group">
                <path fill="currentColor"
                  d="m464.883 64.267h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"
                  class="fa-secondary"></path>
                <path fill="currentColor"
                  d="m464.883 208.867h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"
                  class="fa-primary"></path>
                <path fill="currentColor"
                  d="m464.883 353.467h-417.766c-25.98 0-47.117 21.137-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.012-21.137-47.149-47.117-47.149z"
                  class="fa-secondary"></path>
              </g>
            </svg>
          <!-- </button> -->
        </div>
      </a>
    </div>
    
    <div id="popup1" class="overlay">
      <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="content">
        <div id="myForm">
          <form action="/" method="get">
            <button id="goHome" type="submit">Go Home</button>
          </form>
          <form action="/new" method="get">
            <button type="submit">Search the google API</button>
          </form>
        </div> 
        </div>
      </div>
    </div>
    </header>
















</body>
</html>