<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/reset.css">
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    
<header class="headclass">
<div id="head-nav">

</div>

</header>
















<%console.log(taskResult)%>

<% taskResult.forEach(val=> { %>

<a href="/myProfile">your profile</a>
<a href="/signup">Sign up now</a>

<%})%>















</body>
</html>