<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./reset.css">
    <!-- <link rel="stylesheet" href="./index.css"> -->
    <link rel="stylesheet" href="./esraa/login.css">
    <link rel="stylesheet" href="./esraa/sign.css">
    <link rel="stylesheet" href="/header_abdallah.css">

</head>
<body>
    <%- include('./layout/header_abdallah.ejs') %> 

<%- include('./layout/signup.ejs')%>
<%- include('./layout/login.ejs')%>



























<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="/js/ind.js"></script>
</body>
</html>