<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/reset.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="./esraa/login.css">
    <link rel="stylesheet" href="./esraa/sign.css">

 

   
</head>
<body>
    
    
<header >
    <%- include('./layout/header.ejs') %> 
</header>

<!-- 
<ul id="nav-elemnt">
    <li><a href="/myProfile">profile</a> </li>
    
    <a href="/signup"><a href="#popup1">sign Up</a></a>
    <a href="/login"><a href="#popup2">sign In</a></a>
    |
    |
    <a href="/logout">logout</a>

    <!-- /<a href="/login">Sign In</a> </li> -->
</ul> -->

<%- include('./layout/signup.ejs')%>
<%- include('./layout/login.ejs')%>



























<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="/js/ind.js"></script>
</body>
</html>