<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    <form action="/" method="post">
    <input type="text" name="username" class="input-box1" placeholder="Enter your Name">
    <p>Username must be and contain 5 - 12 characters</p>

    <input type="text" name="email" class="input-box1" placeholder="Enter your Email">
    <p>Email must be a valid address, e.g. me@mydomain.com</p>
    <button type="submit">sign in</button>
</form>
<p>If you don't have an account sign up</p>
<a href="/signup">sign Up</a>
</body>
</html>