<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>validation</title>
    <link rel="stylesheet" href="./valids.css">
</head>
<body>
    <div id="make" class="fade-in">
        <h1><%= data %> </h1>
        <button><a href="/">Ok</a></button>
    </div>
    
</body>
</html>