<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>validation</title>
</head>
<body>
    <h1>This name is already exists</h1>
    <button><a href="/">Ok</a></button>
</body>
</html>