@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

img {
    width: 60%;

}
body{
    background-color: #dfa4ff;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: auto;

}
main {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
}
div {
    width: 30%;
    display: flex;
    color: black;
    /* height: 300px; */
    flex-grow: 1f;
    background-color: #6D00A9;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: gray;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px grey;
}
button {
    padding: 9% 20%;
    border-radius: 7px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: rgb(80, 2, 122);
    color: white;
    border: 1px rgb(202, 126, 243);

}
.pad {
    padding: 1%;
    margin: 2%;
}
.sp {
    margin-right: 2%;
    margin-left: 2%;
}