.s_header {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.s_header nav ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    padding-right: 2%;
    width: 100px;
}
img#logoM {
    width: 115px;
    margin-left: 20%;
}

a {
    color: white;
    text-decoration: none;
}