
  
  .overlay2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  .overlay2:target {
    visibility: visible;
    opacity: 1;
    /* z-index: 999999; */
  }
 
  .popup3 {
    margin: 100px auto;
    padding: 20px;
    background: linear-gradient(rgb(243, 226, 242),#6d00a9,#190027);
    border-radius: 14px;
    width: 27%;
    height: 68%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* line-height: 3px; */
    flex-wrap: wrap-reverse;
    box-shadow: 27px 7px 20px 0 rgba(0, 0, 0, 0.6);
    transition: all 1s ease-in-out;
    overflow: hidden;
    animation: signUp 0.2s linear 1;
  }
 
  .popup3 .close2 {
    position: absolute;
    top: 7px;
    right: 20px;
    transition: all 200ms;
    font-size: 33px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    z-index: 99999;
  }
  .popup3 .close2:hover {
    color: white;
    transform: scale(1.1);
    /* font-size: 45px; */
    top: 7px;
    right: 20px;

    
  }
 
.popup3 button:hover{
    transform: scale(0.9);
    cursor: pointer;

}






@keyframes signUp{
    0%   {
        border-radius: 100%;
        top:100%
    }
      
    10%{
        border-radius: 100%;
        top:90%;
    }
    
    20%{
        border-radius: 100%;
        top:80%;
    }
    30%{
        border-radius: 100%; 
        top:70%;
    }
    40%{
        border-radius: 100%; 
        top:60%;
    }
    50%{
        border-radius: 90%;    
        top:50%;
    }
    60%{
        border-radius: 80%; 
        top:40%;
    }
    70%{
        border-radius: 70%;
        top:30%;
    }
    80%{
        border-radius: 60%; 
        top:20%;
    }
    90%{
        border-radius: 50%;
        top:15%;
    }
    100%{
        border-radius: 40%;
        top:15%;
    }

}

.div-rock img{
    position: absolute;
    /* z-index: 999; */
    width: 348px;
    height: 84%;
    top: 30.6%;
    left: -70px;
    border-radius: 48%;
    transform: rotate(26deg);


}

#showOrders2 h2{
    color: #fff;
    font-size: 31px;
    margin-left: 82px;
    margin-bottom: 32px;
}

 
#showOrders2{
    position: absolute;
    left: 95px;
    display: flex;
    top: 2%;
    color: white;
    line-height: 35px;
 }


.input-box2{
    font-size: 18px;
    width: 276px;
    height: 48px;
   
    border: 3px solid gray;
    opacity: .9;
    box-sizing: border-box;
    color: black;
    padding: 14px;
    border-radius: 10px;
    word-spacing: 4px;
    font-family: auto;
}

/* .input-box1:active , .input-box1:focus{
    border-bottom:6px solid  #2b0242;
 
} */

.signIn-btn2{
    color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 13px;
    width: 102%;
    height: 23%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: -4px;
    margin-top: 10px;
    background-color: #6d009a;
}



.signIn-btn2:hover{
    border: none;
    box-shadow: 0px 0px 13px  #d995f7 ;
} 

/* list-style-type: none;//this for li dot  */
    /* text-decoration: none; //this for a underline */

 .popup3 input.valid{
    border: 3px solid #36cc36;
    width: 276px;
    height: 48px;
    padding: 14px;
    border-radius: 10px;
    box-sizing: border-box;
}

.popup3 input.invalid{
    border: 3px solid orange;
    padding: 14px;
    border-radius: 10px;
    width: 276px;
    height: 48px;
    box-sizing: border-box;
}
.popup3 input + p{
    font-family: arial;
    font-size: .6em;
    font-weight: bold;
    text-align: center;
    margin: 0 -10px;
     color: orange;
    opacity: 0;
    height: 8px;

}


.popup3 input.invalid + p{
    opacity: 1;
    height: auto;
    display: flex;
    justify-content: flex-start;
    /* flex-grow: 1; */
    margin-bottom: -17px;
    margin-top: -5px;
    font-size: 12px;

    
}   
.imageMan img {
    width: 112%;
}
.imageMan {
    pointer-events: none;
    position: absolute;
    left: 74%;
    top: -11%;
    animation: rocket1 7s linear infinite;
}

@keyframes rocket1 {
    
    0% {
        transform: translate(-20%,-20%);
    }
    25% {
        transform: translate(-20%,-9%);
    }
    50% {
        transform: translate(-20%,9%);
    }
    75% {
        transform: translate(-20%,-10%);
    }
    100% {
        transform: translate(-20%,-20%);
    }

}