<!-- <div>for icons</div>

<form action="">
    <legend>Contact Us</legend>
    <label for="email">Email</label>
    <input type="text" placeholder="example@somethig.com"><br />

    <label for="message">Message</label>
    <input type="text" placeholder="Add your message">
</form> -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../footer.css">
</head>
<footer>
    <h3>contact us on</h3>
</footer>