<link rel="stylesheet" href="./reset.css">
<link rel="stylesheet" href="./sheader.css">
<div class='s_header'>
    
       <a class='logo' href="/load"><img id="logoM" src="./image/logoM-01.png" alt="main logo"></a> 
    
    <nav>
        <ul>
            <li><a href="/load">Home</a></li>
            <li><a href="/mission">Past Mission</a></li>
            <li><a href="/f_mission">Trips</a></li>
            <li><a href="/all_book">Booking info</a></li>
            <li><a href="/about">About us</a></li>
            <li><img src="./image/profile-user.svg" alt="user icon"></li>
        </ul>
    </nav>
</div>
