<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="../header_abdallah.css">
    

    <title>Document</title>
</head>
<body>
<div class="myheader1">
    <div class="navbar1" >
        <a href="" class="logo"><img src="./future_img/logo-01-01.png" alt=""></a>
       
       
        <ul id="navigation">
            <li class="selected">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/mission">Past missions</a>
            </li>
            <li class="menu">
                <a href="/f_mission">future missions</a>
            </li>
            <li class="menu">
                <a href="/all_book">trips info</a>
            </li>
            <li>
                <a href="/about">About us</a>
            </li>

            <li class="menu1"><a href="#dropdown">></a> </li>
        
                </ul>
    </div>


</div>

<div class="pic-head">
    <div id="dropdown" class="overlay3">
    
        <ul class="dropdown-content">
            <img src="/images/menu.png">
            <li class="drop-menu"><a href="/myProfile">Profile</a><li>
           <li class="drop-menu"><a href="/signup"><a href="#popup1">sign Up</a></a></li>
            <li class="drop-menu"><a href="/login"><a href="#popup2">sign In</a></a></li>
           <li class="drop-menu"><a href="/logout">logout</a></li>
        </ul>
    
    </div>

</div>

</body>
</html>
