<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Past mission</title>
<link rel="shortcut icon" href="./image/tab-01.png" />
<link rel="stylesheet" href="/reset.css">
<link rel="stylesheet" href="./header_abdallah.css">
<link rel="stylesheet" href="./esraa/login.css">
<link rel="stylesheet" href="./esraa/sign.css">
<link rel="stylesheet" href="/style/yousef.css">