<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../header_abdallah.css">
    

    <title>Document</title>
</head>
<body>
<div id="page">
    <div id="header">
        <div>
            <a href="" class="logo"><img src="./future_img/logo-01-01.png" alt=""></a>
            <ul id="navigation">
                <li class="selected">
                    <a href="/load">Home</a>
                </li>
                <li>
                    <a href="/mission">Past missions</a>
                </li>
                <li class="menu">
                    <a href="/f_mission">future missions</a>
                </li>
                <li class="menu">
                    <a href="/all_book">trips info</a>
                </li>
                <li>
                    <a href="/about">About us</a>
                </li>
                <li class="dropdown">
                    <img src="./future_img/user.png" alt="">
                    <ul class="dropdown-content">
                        <li><a href="/myProfile">Profile</a></li>
                        <li><a href="/login">Sign In </a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/logout">Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
        </div>
    </div>
    
</div> 
</body>
</html>
