<h1>
    Sagittarus
</h1>
<nav>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="/mission">Past Mission</a></li>
        <li><a href="/f_mission">Trips</a></li>
        <li><a href="/all_book">Booking info</a></li>
        <li><a href="/about">About us</a></li>
    </ul>
</nav>