<h1>
    Sagittarus
</h1>
<nav>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="/mission">Past Mission</a></li>
        <li><a href=""></a>Trips</li>
        <li><a href=""></a>Booking info</li>
        <li><a href=""></a>About us</li>
    </ul>
</nav>