
<head>
    <link rel="stylesheet" href="./esraa/login.css">
</head>
  
    
            <div id="popup2" class="overlay2">
        
            <div class="imageMan">
<img src="./images/ma.png">
            </div>
        

        
                <div class="popup3">
                   
                  <a class="close2" href="#">&times;</a>
        
                    <div id="showOrders2">
                        <div class="sign-in1">
        
                            <h2> Sign In</h2>
                            <form action="/" method="post">
        
                                    <input type="text" name="username" class="input-box2" placeholder="Enter your Name">
                                    <p>Username must be  and contain 5 - 12 characters</p><br>
        
                                    <input type="text" name="email" class="input-box2" placeholder="Enter your Email">
                                    <p>Email must be a valid address, e.g. me@mydomain.com</p>
                                    <br>
        
                                    <input type="password" name="password" id="pass" class="input-box2"
                                        placeholder="Enter your Password">
                                        <p>Password must alphanumeric (@, _ and - are also allowed) </p>
                                        <br>
        
                                        
                                       <button type="submit" class="signIn-btn2">Sign In </button>
                            </form>
        
        
                           
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
            <script src="../js/ind.js"></script>
            
        
            
   
